.experience {
    /* border: 1px solid black; */
    padding: 100px;
    max-height: 100%;
}

.experience h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.experience div {
    /* border: 1px solid black; */
    margin: 50px auto 0px auto;
    width: 70%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.experience div #position {
    font-size: 20px;
    font-weight: 600;
    color: #f53b57;
}

.experience div #duration {
    font-size: 18px;
    font-style: italic;
    /* border: 1px solid black; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience div #duration span {
    font-size: 14px;
}

.experience div #description ul li {
    font-size: 14px;
    list-style: decimal;
}

li {
    color: gray;
}

.experience div #certificate {
    color: #d60726;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .experience {
        padding: 20px;
    }

    .experience div {
        width: 90%;
    }

    .experience div #duration {
        flex-direction: column;
        align-items: flex-start;
    }
}