*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.back-to-top a {
    visibility: hidden;
    right: 30px;
    bottom: 50px;
    width: 50px;
    text-align: center;
    position: fixed;
    /* background: transparent; */
    border: 2px solid #f53b57;
    /* border: 2px solid #0984e3; */
    /* color: #0984e3; */

    padding: 15px;
    border-radius: 50%;
    background-color: #f53b57;
    /* background-color: #0984e3; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active a {
    visibility: visible;
}


/* ================================ Banner Section ======================================= */

.banner {
    padding: 100px;
    position: relative;
    background-color: rgb(29, 29, 29);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBox{
    text-align: center;
}

.banner h2 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    line-height: 2em;
}

.banner h2 span {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.banner h3 {
    font-size: 1.2em;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
}

.btn {
    margin: 10px;
    width: 70%;
    background-color: white;
    color: black;
    font-weight: bold;
    display: inline-block;
    padding: 10px 30px;
    letter-spacing: 1.5px;
    border: 2px solid white;
    margin-top: 15px;
    text-decoration: none;
}

.btn:hover{
    background-color: rgb(29, 29, 29);
    color: white;
    border: 2px solid white;
}



/* ================================ About Section ======================================= */

.content {
    display: flex;
    justify-content: space-between;
}

.contentBox p {
    width: 90%;
}

.about{
    padding: 100px;
}

.about h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.about h3{
    margin-bottom: 20px;
    /* font-size: 1.5em; */
}

.about .self_image img{
    max-width: 220px;
    max-height: 220px;
    border: 2px solid black;
}



/* ================================ Skills Section ======================================= */

.skills {
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 50px 60px 100px 60px;
}

.skills h2{
    font-size: 2em;
    text-align: center;
    margin: 40px 0 20px 0;
}

.skill h2 {
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin: 0px 0 20px 0;
}

.skills .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.skills .content .skill{
    background-color: rgb(51, 51, 51);
    padding: 40px 20px;
    color: white;
    /* max-width: 340px; */
    width: 340px;
    margin: 10px;
    text-align: center;
    transition: 0.25s;
}

.skills .content .skill:hover{
    /* background-color: rgb(0, 153, 255); */
    /* background-color: #00cec9; */
    background-color: #f53b57;
}




/* ================================ Experience Section ======================================= */

.experience {
    /* border: 1px solid black; */
    padding: 100px;
    max-height: 100%;
}

.experience h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.experience div {
    /* border: 1px solid black; */
    margin: 50px auto 0px auto;
    width: 70%;
    max-height: 100%;
}

.experience div #position {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 600;
}

.experience div #duration {
    font-size: 18px;
    margin: 10px 0;
    font-style: italic;
}

.experience div #description li{
    font-size: 14px;
    margin: 10px 0;
    list-style:decimal;
}


/* ================================ Work Section ======================================= */

.work{
    padding: 100px;
}

.work .heading h2{
    text-align: center;
    font-size: 2em;
}

.work .heading p{
    text-align: center;
    font-size: 1em;
}

.work .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.workBox{
    width: 40%;
    padding: 20px;
}
.workBox img {
    max-width: 100%;
    /* max-height: 300px; */
}

@media screen and (max-width: 360px) {

    .back-to-top a {
        right: 20px;
        bottom: 20px;
    }



    /* ================================ Banner Section ======================================= */

    .banner {
        padding: 50px;
    }

    .banner h2 {
        font-size: 1.5em;
    }



    /* ================================ About Section ======================================= */

    .about .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .contentBox p {
        width: 90%;
    }
    
    .about{
        padding: 20px;
        text-align: justify;
    }
    
    .about .self_image img{
       margin-top: 20px;
    }
    


    /* ================================ Skills Section ======================================= */

    .skills {
        padding: 50px 60px 100px 60px;
        margin-top: 50px;
    }

    .skills h2{
        margin: 0px 0 20px 0;
    }



    /* ================================ Work Section ======================================= */

    .work{
        padding: 20px;
        margin-top: 30px;
    }
    
    .workBox{
        width: 90%;
        padding: 20px;
    }

    .workBox img {
        max-width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .back-to-top a {
        right: 20px;
        bottom: 20px;
    }



    /* ================================ Banner Section ======================================= */

    .banner {
        padding: 50px;
    }

    .banner h2 {
        font-size: 1.5em;
    }


    
    /* ================================ About Section ======================================= */

    .about .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contentBox {
        padding: 0 10px;
    }
    
    .contentBox p {
        width: 100%;
    }
    
    .about{
        padding: 20px;
        text-align: justify;
    }
    
    .about .self_image img{
       margin-top: 30px;
    }
    


    /* ================================ Skills Section ======================================= */

    .skills {
        padding: 50px 60px 100px 60px;
        margin-top: 50px;
    }

    .skills h2{
        margin: 0px 0 20px 0;
    }



    /* ================================ Experience Section ======================================= */

    .experience {
        padding: 20px;
    }

    .experience div {
        width: 80%;
        text-align: justify;
    }

    .experience div #position {
        margin: 15px 0;
    }

    .experience div #duration {
        margin: 15px 0;
    }

    .experience div #description li{
        margin: 15px 0;
    }



    /* ================================ Work Section ======================================= */

    .work{
        padding: 20px;
        margin-top: 30px;
    }
    
    .workBox{
        width: 45%;
        padding: 20px;
    }

    .workBox img {
        max-width: 100%;
    }

}

@media screen and (max-width: 640px) {
    .workBox{
        width: 90%;
        padding: 20px;
    }
}