.publication {
    display: flex;
    justify-content: space-between;
}

.publication p {
    width: 90%;
}

.publication {
    padding: 100px;
}

.publication h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.publication-container p {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .publication p {
        text-align: center;
    }

    .publication {
        padding: 20px;
    }

    .publication-container {
        align-items: center;
    }
}